.idea/
*.iml
_site/
.sass-cache/
.jekyll-cache/
.flutter-plugins
.flutter-plugins-dependencies
.packages

/build/flutter_assets/
*.dill
.dart_tool/
.dart_tool/package_config.json
.dart_tool/package_config_subset
/build/
/dist/
/node_modules/
/functions/lib/
/functions/node_modules/
/site/dist/
*-debug.log
firepit-log.txt
dotenv
.DS_Store
._*
.dartServer
.dart-tool
