.idea/
*.iml
_site/
.sass-cache/
.jekyll-cache/
.flutter-plugins
.flutter-plugins-dependencies
.packages

/build/flutter_assets/
*.dill
.dart_tool/
.dart_tool/package_config.json
.dart_tool/package_config_subset
/build/
pubspec.lock
dotenv
.DS_Store
._*
.dartServer
.dart-tool
